
<nav
        class="navbar navbar-expand-lg navbar-dark border1 px-0 py-3"
        id="navbar1"
        style="z-index: 10000"
    >
        <div class="container-xl">
            <!-- Logo -->
            <!-- <a class="navbar-brand" href="#">
          <img src="https://preview.webpixels.io/web/img/logos/clever-light.svg" class="h-8" alt="...">
        </a> -->
            <a
                href="#"
                class="navbar-brand text-light pe-auto border-ryt 
padding-left"

               
            >
                <img
                    src="../../../assets/img/era.png"
                    width="100"
                    class="h-8"
                    style="width: 50px; height: 50px"
            /></a>
            <!-- Navbar toggle -->
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Nav -->
                <div class="navbar-nav mx-lg-auto en_lang">
                    <a
                        class="navbar-brand text-light m-0"
                        style="color: inherit"
                        href="/index"
                    >
                        <img
                            src="../../../assets/img/english 3rd/DEACTIVE HOME (2).png"
                            alt=""
                            width="150"
                            height="40"
                        />
                    </a>
                    <a
                        class="navbar-brand text-light m-0"
                        style="color: inherit"
                        href="/about"
                    >
                        <img
                            src="../../../assets/img/english 3rd/DEACTIVE ABOUT (2).png"
                            alt=""
                            width="150"
                            height="40"
                        />
                    </a>
                    <a
                        class="navbar-brand text-light m-0"
                        style="color: inherit"
                        href="/job"
                    >
                        <!-- <img src="../../../assets/img/english 3rd/ACTIVE JOB (2).png" alt="" width="150" height="40" /> -->
                    </a>
                    <a
                        class="navbar-brand text-light m-0"
                        style="color: inherit"
                        href="/roaster"
                    >
                        <img
                            src="../../../assets/img/english 3rd/roster deactive.png"
                            alt=""
                            width="150"
                            height="40"
                        />
                    </a>
                </div>
                <div class="navbar-nav mx-lg-auto fr_lang">
                    <a
                        class="navbar-brand text-light m-0"
                        style="color: inherit"
                        href="/index"
                    >
                        <img
                            src="../../../assets/img/german 2nd/DEACTIVE HOME (1).png"
                            alt=""
                            width="150"
                            height="40"
                        />
                    </a>
                    <a
                        class="navbar-brand text-light m-0"
                        style="color: inherit"
                        href="/about"
                    >
                        <img
                            src="../../../assets/img/german 2nd/DEACTIVE ABOUT (1).png"
                            alt=""
                            width="150"
                            height="40"
                        />
                    </a>
                    <a
                        class="navbar-brand text-light m-0"
                        style="color: inherit"
                        href="/job"
                    >
                        <!-- <img src="../../../assets/img/german 2nd/ACTIVE JOB (1).png" alt="" width="150" height="40" /> -->
                    </a>
                    <a
                        class="navbar-brand text-light m-0"
                        style="color: inherit"
                        href="/roaster"
                    >
                        <img
                            src="../../../assets/img/german 2nd/Dienstplan deactive.png"
                            alt=""
                            width="150"
                            height="40"
                        />
                    </a>
                </div>
                <div class="end1">
                    <img
                        src="../../../assets/img/line glow2.png"
                        alt=""
                        srcset=""
                    />
                </div>
                <!-- Right navigation -->

                <!-- <a class="nav-item nav-link" href="#">Sign in</a> -->
                <div class="switch2">
                    <input
                        id="language-toggle"
                        class="check-toggle check-toggle-round-flat"
                        type="checkbox"
                    />
                    <label for="language-toggle"></label>
                    <span class="on">EN</span>
                    <span class="off">DE</span>
                </div>
            </div>
        </div>
    </nav>
