
	<div class="switch">
	    <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox">
	    <label for="language-toggle"></label>
	    <span class="on">BN</span>
	    <span class="off">EN</span>
  	</div>



      <div class="switch" id="checkbox-container">
        <input id="language-toggle" class="check-toggle check-toggle-round-flat"
         type="checkbox" id="lang-switch" class="fr">
        <label for="language-toggle"></label>
        <span class="on fr" >EN</span>
        <span class="off en">DE</span>
      </div>


