<script>
    function myFunction() {
        $("input").on("change", function () {
            localStorage.input = $(this).is(":checked");
            console.log($(this).is(":checked"));
        });
        const onpageLoad = localStorage.getItem("lang") || "";
        console.log(onpageLoad);

        if (onpageLoad === "fr_lang") {
            $(".fr_lang").addClass("active-lang");
            localStorage.setItem("lang", "fr_lang");
            $(".en_lang").removeClass("active-lang");
            $(function () {
                var test = localStorage.input === "true" ? true : false;
                $("input").prop("checked", test || false);
            });
        } else {
            $(".en_lang").addClass("active-lang");
            localStorage.removeItem("lang", "fr_lang");
            localStorage.setItem("lang", "en_lang");
            // Disable French
            $(".fr_lang").removeClass("active-lang");
        }
    }
</script>
<div class="about">
    <div class="showcase">
        <!-- <canvas class="overlap overlap-about" id="c"></canvas> -->
    </div>

    <nav
        class="navbar navbar-expand-lg navbar-dark border1 py-3 padding-left"
        id="navbar1"
        style="z-index: 10000"
    >
        <div class="container-xl">
            <!-- Logo -->
            <!-- <a class="navbar-brand" href="#">
            <img src="https://preview.webpixels.io/web/img/logos/clever-light.svg" class="h-8" alt="...">
          </a> -->
            <a
                href="#"
                class="navbar-brand text-light pe-auto border-ryt"
                data-aos="fade-up"
                style="z-index: 10000"
            >
                <img
                    src="../../../assets/img/era.png"
                    width="100"
                    class="h-8"
                    style="width: 50px; height: 50px"
            /></a>
            <!-- Navbar toggle -->
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Nav -->
                <div class="navbar-nav mx-lg-auto en_lang">
                    <a
                        class="navbar-brand text-light m-0"
                        style="color: inherit"
                        href="/index"
                    >
                        <img
                            src="../../../assets/img/english 3rd/DEACTIVE HOME (2).png"
                            alt=""
                            width="150"
                            height="40"
                        />
                    </a>
                    <a
                        class="navbar-brand text-light m-0"
                        style="color: inherit"
                        href="/about"
                    >
                        <img
                            src="../../../assets/img/english 3rd/ACTIVE ABOUT (2).png"
                            alt=""
                            width="150"
                            height="40"
                        />
                    </a>
                    <a
                        class="navbar-brand text-light m-0"
                        style="color: inherit"
                        href="/job"
                    >
                        <!-- <img src="../../../assets/img/english 3rd/DEACTIVE JOB (2).png" alt="" width="150" height="40" /> -->
                    </a>
                    <a
                        class="navbar-brand text-light m-0"
                        style="color: inherit"
                        href="http://ggera.com:8887http://ggera.com:8887/roaster"
                    >
                        <img
                            src="../../../assets/img/english 3rd/roster deactive.png"
                            alt=""
                            width="150"
                            height="40"
                        />
                    </a>
                </div>
                <div class="navbar-nav mx-lg-auto fr_lang">
                    <a
                        class="navbar-brand text-light m-0"
                        style="color: inherit"
                        href="/index"
                    >
                        <img
                            src="../../../assets/img/german 2nd/DEACTIVE HOME (1).png"
                            alt=""
                            width="150"
                            height="40"
                        />
                    </a>
                    <a
                        class="navbar-brand text-light m-0"
                        style="color: inherit"
                        href="/about"
                    >
                        <img
                            src="../../../assets/img/german 2nd/ACTIVE ABOUT (1).png"
                            alt=""
                            width="150"
                            height="40"
                        />
                    </a>
                    <a
                        class="navbar-brand text-light m-0"
                        style="color: inherit"
                        href="/job"
                    >
                        <!-- <img src="../../../assets/img/german 2nd/DEACTIVE JOB (1).png" alt="" width="150" height="40" /> -->
                    </a>
                    <a
                        class="navbar-brand text-light m-0"
                        style="color: inherit"
                        href="http://ggera.com:8887/roaster"
                    >
                        <img
                            src="../../../assets/img/german 2nd/Dienstplan deactive.png"
                            alt=""
                            width="150"
                            height="40"
                        />
                    </a>
                </div>
                <div class="end1">
                    <img
                        src="../../../assets/img/line glow2.png"
                        alt=""
                        srcset=""
                    />
                </div>
                <!-- Right navigation -->

                <!-- <a class="nav-item nav-link" href="#">Sign in</a> -->
                <div class="switch2">
                    <input
                        id="language-toggle"
                        class="check-toggle check-toggle-round-flat"
                        type="checkbox"
                    />
                    <label for="language-toggle"></label>
                    <span class="on">EN</span>
                    <span class="off">DE</span>
                </div>
            </div>
        </div>
    </nav>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var checkbox = document.querySelector('input[type="checkbox"]');

            $(".en_lang").addClass("active-lang");
            $("#lang-switch .en").addClass("active-flag");
            checkbox.addEventListener("change", function () {
                if (checkbox.checked) {
                    // do this

                    // disable english
                    $(".fr_lang").addClass("active-lang");
                    localStorage.setItem("lang", "fr_lang");
                    $(".en_lang").removeClass("active-lang");

                    console.log("Checked");
                } else {
                    // do that
                    console.log("Not checked");
                    $(".en_lang").addClass("active-lang");
                    localStorage.removeItem("lang", "fr_lang");
                    localStorage.setItem("lang", "en_lang");
                    // Disable French
                    $(".fr_lang").removeClass("active-lang");
                }
            });
        });

        $(this).classList.add("active-lang");
        if (onpageLoad != null && onpageLoad == "fr_lang") {
            tSwitcher.checked = true;
            console.log("engg");
        }
        $(this).classList.add(onpageLoad);

        //   var tSwitcher = document.getElementById('lang-switch');
        // let element = document.body;

        // let onpageLoad = localStorage.getItem("lang") || "";
        // if(onpageLoad != null && onpageLoad  == 'en_lang'){
        //   tSwitcher.checked = true;
        // }
        // element.classList.add(onpageLoad);

        // function themeToggle(){
        //   console.log("checkkkkkkkkkkkkkkkk");
        //   if(tSwitcher.checked){
        //       localStorage.setItem('lang', 'en_lang');
        //         element.classList.add('active-lang');
        //     } else {
        //       localStorage.setItem('lang', '');
        //         element.classList.remove('active-lang');
        //     }
        // }
    </script>
    <style>
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            padding-bottom: 50px;
            background-color: #000000;
        }
        .border1 {
            border-bottom: 2px solid !important;
            border-bottom-color: #ff6e30 !important;
        }
        .sticky + .content {
            padding-top: 60px;
        }

        .border-ryt {
            padding-right: 10px;
            border-right: 2px solid !important;
            border-right-color: #ff6e30 !important;
        }
    </style>
    <script>
        window.onscroll = function () {
            myFunction1();
        };

        var navbar = document.getElementById("navbar1");
        var sticky = navbar.offsetTop;

        function myFunction1() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky");
            } else {
                navbar.classList.remove("sticky");
            }
            if (window.pageYOffset <= sticky) {
                navbar.classList.remove("sticky");
            }
        }
    </script>

    <div class="container view">
        <div
            class="col-12 col-sm-12 col-lg-12 col-md-12 d-flex justify-content-center"
            data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom"
        >  
        <div class="large-text">
            <div class="container">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <img src="../../../assets/img/about.jpg" alt="" class="" >
                </div>
              
            </div>   
        </div>

        <!-- <div class="large-text">
            <img src="../../../assets/img/about.jpg" alt="" class="img-fluid">
        </div> -->
            <!-- <div class="large-text en_lang">
                <p class="large-text text-center mob-text">GGERA</p>
            </div>
            <div class="large-text fr_lang">
                <p class="large-text text-center mob-text">GGERA</p>
            </div> -->
        </div>
        <div class="d-flex justify-content-center">
            <div class="container p-3">
                <div class="d-flex justify-content-center">
                    <button
                        class="clay btn btn-warning en_lang"
                        style="height: 50px; width: 150px"
                    >
                        <a
                            href="http://ggera.com:8887/roaster "
                            style="text-decoration: none; color: #ffff"
                            ><span class="btn-label p-2">Signup</span></a
                        >
                    </button>
                    <button
                        class="clay btn btn-warning fr_lang"
                        style="height: 50px; width: 150px"
                    >
                        <a
                            href="http://ggera.com:8887/roaster "
                            style="text-decoration: none; color: #ffff"
                            ><span class="btn-label p-2">Anmelden</span></a
                        >
                    </button>
                    <button
                        class="clay btn btn-secondary en_lang"
                        style="height: 50px; width: 150px"
                    >
                        <a
                            href="http://ggera.com:8887/roaster "
                            style="text-decoration: none; color: #ffff"
                            ><span class="btn-label p-2">Login</span></a
                        >
                    </button>
                    <button
                        class="clay btn btn-secondary fr_lang"
                        style="height: 50px; width: 150px"
                    >
                        <a
                            href="http://ggera.com:8887/roaster "
                            style="text-decoration: none; color: #ffff"
                            ><span class="btn-label p-2">Anmeldung</span></a
                        >
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-12 pb-5">
            <div class="text-center p-5">
                <p class="font-about en_lang">
                    The home of the programmers, where subscribers can play with
                    them on the same team or invest in emerging stars
                </p>
                <p class="font-about fr_lang">
                    Die Heimat der Programmierer, wo Abonnenten mit ihnen im
                    selben Team spielen oder aufstrebende Stars investieren
                    können
                </p>
            </div>
        </div> -->
        <div class="container" style="overflow: hidden">
            <div class="row">
                <div
                    class="col-lg-12 col-sm-12 col-md-6 d-flex justify-content-center p-2 pb-5"
                    data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom"
                >
                    <div class="box">
                        <div
                            class="card mycard"
                            style="
                                width: 20rem;
                                height: 13.5rem;
                                background-color: transparent;
                            "
                        >
                            <img
                                class="card-img-top"
                                src="https://cdn.antaranews.com/cache/800x533/2021/05/15/IMG_0394.jpg"
                                alt="Card image cap"
                            />
                            <div class="d-flex justify-content-center en_lang">
                                <button
                                    class="clay btn btn-warning en_lang"
                                    style="height: 50px; width: 150px"
                                >
                                    <a
                                        href="http://ggera.com:8887/roaster "
                                        style="
                                            text-decoration: none;
                                            color: #ffff;
                                        "
                                    >
                                        <span class="btn-label"
                                            >Try it now</span
                                        ></a
                                    >
                                </button>
                                <button class="clay btn btn-warning fr_lang">
                                    <a
                                        href="http://ggera.com:8887/roaster "
                                        style="
                                            text-decoration: none;
                                            color: #ffff;
                                        "
                                    >
                                        <span class="btn-label"
                                            >Probieren Sie es jetzt</span
                                        ></a
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .plan_card {
            background-color: black;
            color: white;
            font-weight: bolder;
            border-style: solid;
            border-width: medium;
            border-color: #f77500;
            opacity: 0.7;
            border-radius: 15px;
            width: 400px;
        }
        .headingg {
            background-color: rgba(0, 0, 0, 0.4);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            padding: 20px;
        }
        .plan_card1 {
            padding-bottom: 30px;
            background-color: black;
            color: white;
            font-weight: bolder;
            border-style: solid;
            border-width: medium;
            border-color: #f77500;
            border-bottom: #000000;
            border-radius: 25px;
            opacity: 0.7;
            border-bottom-right-radius: 15px;
            /* width: 1200px; */
            /* background-color: rgba(5, 2, 61, 0.4); */
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
        }
        .plan_table {
            color: white;
        }
        .plan_card:hover {
            opacity: 1;
        }
        /* .borderless table {
      border-top-style: none;
      border-left-style: none;
      border-right-style: none;
      border-bottom-style: none;
  } */
        .borderless td,
        .borderless th {
            border: none;
        }
        @media screen and (max-width: 568px) {
            .plan_card {
                background-color: black;
                color: white;
                font-weight: bolder;
                border-style: solid;
                border-width: medium;
                border-color: #f77500;
                opacity: 0.7;
                border-radius: 15px;
                width: 220px;
            }
            .plan_card1 {
                /* background-color: black; */
                color: white;
                font-weight: bolder;
                border-style: solid;
                border-width: medium;
                border-color: #f77500;
                opacity: 0.7;
                border-radius: 15px;
                width: 400px !important;
                background-color: rgba(5, 2, 61, 0.4);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
            }
            .container {
                max-width: 500px !important;
            }
        }
        @media screen and (max-width: 968px) {
            .plan_card1 {
                /* background-color: black; */
                color: white;
                font-weight: bolder;
                border-style: solid;
                border-width: medium;
                border-color: #f77500;
                opacity: 0.7;
                border-radius: 15px;
                /* width: 800px !important; */
                background-color: rgba(5, 2, 61, 0.4);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
            }
        }
    </style>

    <style>
        .card1 {
            height: 556px !important;
        }
        .hover-div {
            padding: 20px 20px;
            text-align: center;
            min-height: 350px;
        }

        .hover-div {
            /* border-top: 1px solid #f8f8f8;
              background: #f8f8f8; */
            box-shadow: 0px 1px 1px rgba(237, 95, 12, 0.944);
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            margin: 10px 0px;
        }
        .hover-div:hover h3 {
            color: #f77500;
            font-weight: 700 !important;
        }
        .hover-div:hover {
            -webkit-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
            transform: translateY(-20px);
            box-shadow: 0px 1px 1px rgba(24, 9, 0, 0.944);
            cursor: pointer;
            border-radius: 50px;
            box-shadow: 0 80px 50px -60px rgba(207, 126, 4, 0.5);
            position: relative;
            top: -20px;
        }
        .container .box1 span {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 50;
            pointer-events: none;
        }

        .container .box1 span::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.1);
            /* it has to be written like this not [backdrop-filter: blur(10px);] alone */
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);

            opacity: 0;
            transition: 0.5s;
            animation: animate 2s linear infinite;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
        }

        .container .box1:hover span::before {
            top: -50px;
            left: 50px;
            width: 100px;
            height: 100px;
            opacity: 1;
            border-radius: 20px;
        }

        .container .box1 span::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.1);
            /* same note as ABOVE */
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);

            opacity: 0;
            transition: 0.5s;
            animation: animate 2s linear infinite;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
            animation-delay: -1s;
        }

        .container .box1:hover span::after {
            bottom: -50px;
            right: 50px;
            width: 100px;
            height: 100px;
            opacity: 1;
        }

        @keyframes animate {
            0%,
            100% {
                transform: translateY(10px);
            }
            50% {
                transform: translateY(-10px);
            }
        }
        .font-weight-normal {
            font-weight: 500 !important;
            color: rgb(238, 238, 238);
        }
    </style>

    <div class="en_lang">
        <section class="container" style="z-index: 100">
            <h2 class="text-center text-light font-weight-bold headingg pb-5">
                <span>About GGERA</span>
            </h2>
            `
            <div class="container">
                <div class="col-lg-6 pb-5 col-sm-12 col-md-6">
                    <div class="card1 plan_card1 m-2 hover-div box1">
                        <span></span>
                        <h3
                            class="text-center p-3 font-weight-normal"
                            data-aos="fade-right"
                        >
                            We understand aspiring gamers, the unchallenged and
                            those looking for community
                        </h3>
                        <p
                            class="text-left pl-5 pt-2 pr-5"
                            style="font-weight: 200"
                        >
                            That's the reason behind GGEra. We believe everyone
                            has their own unique potential to be great, but it
                            can be hard to realize your potential when you're
                            alone or diving head-first into a game you don’t
                            quite understand.
                        </p>
                        <p class="text-left pl-5 pr-5 pb-5">
                            We’ve been there, too.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 pb-5 col-sm-12 col-md-6">
                    <div class="card1 plan_card1 m-2 hover-div box1">
                        <span></span>
                        <h3
                            class="text-center p-3 font-weight-normal"
                            data-aos="fade-left"
                        >
                            A community to discover your gaming identity.
                        </h3>
                        <p
                            class="text-left pl-5 pt-2 pr-5 pb-5"
                            style="font-weight: 200"
                        >
                            Strengths and weaknesses. Passion for gaming. Honing
                            your skills. And growing as an e-gamer; an internet
                            athlete. <br />
                            This is our focus. Whether you want to become a pro
                            yourself or improve your game, our platform gets you
                            there. The pros we hire cover all aspects: from
                            strategy, communication, and teamwork, to mental
                            strength and reflexes.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 pb-5 col-sm-12 col-md-6">
                    <div class="card1 plan_card1 m-2 hover-div box1">
                        <span></span>
                        <h3
                            class="text-center p-3 font-weight-normal"
                            data-aos="fade-up"
                        >
                            A gaming experience like no other.
                        </h3>
                        <p
                            class="text-left pl-5 pt-2 pr-5 pb-5"
                            style="font-weight: 200"
                        >
                            We know that when you're ready to take your gaming
                            the next step, you need an experience that's going
                            to push you past your limits and show you how far
                            you can go. <br />
                            We create experiences that let you do just
                            that—whether that means hiring one of our pros to
                            train you one-on-one or playing in tournaments
                            against some of the best players out there. We'll
                            bring all the action right to your screen. <br />
                            That’s the goal of GGera. Bridging the gap between
                            player and pro for those looking for it.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 pb-5 col-sm-12 col-md-6">
                    <div class="card1 plan_card1 m-2 hover-div box1">
                        <span></span>
                        <h3
                            class="text-center p-3 font-weight-normal"
                            data-aos="fade-up"
                        >
                            Together, we’re making a powerful, challenging
                            platform.
                        </h3>
                        <p
                            class="text-left pl-5 pt-2 pr-5 pb-5"
                            style="font-weight: 200"
                        >
                            Join us on this endeavor to make gaming fun again.
                            Climb the ranks, discover a real opponent, and hone
                            your skills.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="fr_lang">
        <section class="container" style="z-index: 100">
            <h2 class="text-center text-light font-weight-bold headingg pb-5">
                <span>Über GGERA</span>
            </h2>
            `
            <div class="container">
                <div class="col-lg-6 pb-5 col-sm-12 col-md-6">
                    <div class="card1 plan_card1 m-2 hover-div box1">
                        <span></span>
                        <h3
                            class="text-center p-3 font-weight-normal"
                            data-aos="fade-right"
                        >
                            Wir verstehen aufstrebende Gamer, die
                            Unangefochtenen und diejenigen, die nach
                            Gemeinschaft suchen
                        </h3>
                        <p
                            class="text-left pl-5 pt-2 pr-5"
                            style="font-weight: 200"
                        >
                            Das ist der Grund hinter GGEra. Wir glauben, dass
                            jeder sein eigenes einzigartiges Potenzial hat
                            großartig zu sein, aber es kann schwierig sein, Ihr
                            Potenzial auszuschöpfen, wenn Sie alleine sind oder
                            kopfüber tauchen in ein Spiel, das du nicht ganz
                            verstehst.
                        </p>
                        <p class="text-left pl-5 pr-5 pb-5">
                            Wir waren auch dort.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 pb-5 col-sm-12 col-md-6">
                    <div class="card1 plan_card1 m-2 hover-div box1">
                        <span></span>
                        <h3
                            class="text-center p-3 font-weight-normal"
                            data-aos="fade-left"
                        >
                            Eine Community, um Ihre Gaming-Identität zu
                            entdecken.
                        </h3>
                        <p
                            class="text-left pl-5 pt-2 pr-5 pb-5"
                            style="font-weight: 200"
                        >
                            Stärken und Schwächen. Leidenschaft für Spiele.
                            Honen Sie Ihre Fähigkeiten. Und als E-Gamer wachsen;
                            ein Internetsportler. <br />
                            Das ist unser Fokus. Egal, ob Sie selbst ein Profi
                            werden oder Ihr Spiel verbessern möchten, unsere
                            Plattform bringt Sie dorthin. Die Profis, die wir
                            einstellen, decken alle Aspekte ab: von Strategie,
                            Kommunikation und Teamwork bis hin zu mentaler
                            Stärke und Reflexen.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 pb-5 col-sm-12 col-md-6">
                    <div class="card1 plan_card1 m-2 hover-div box1">
                        <span></span>
                        <h3
                            class="text-center p-3 font-weight-normal"
                            data-aos="fade-up"
                        >
                            Ein Spielerlebnis wie kein anderes.
                        </h3>
                        <p
                            class="text-left pl-5 pt-2 pr-5 pb-5"
                            style="font-weight: 200"
                        >
                            Wir wissen, dass Sie eine Erfahrung brauchen, wenn
                            Sie bereit sind, Ihr Gaming den nächsten Schritt zu
                            machen das wird dich an deine Grenzen bringen und
                            dir zeigen, wie weit du gehen kannst. <br />
                            Wir schaffen Erlebnisse, mit denen Sie genau das tun
                            können – egal, ob Sie dafür einen unserer Profis
                            engagieren Trainieren Sie eins zu eins oder spielen
                            Sie in Turnieren gegen einige der besten Spieler da
                            draußen. Wir bringen die ganze Action direkt auf
                            Ihren Bildschirm. <br />
                            Das ist das Ziel von GGera. Für diejenigen, die die
                            Lücke zwischen Spieler und Profi schließen danach
                            suchen.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 pb-5 col-sm-12 col-md-6">
                    <div class="card1 plan_card1 m-2 hover-div box1">
                        <span></span>
                        <h3
                            class="text-center p-3 font-weight-normal"
                            data-aos="fade-up"
                        >
                            Zusammen schaffen wir eine leistungsstarke,
                            herausfordernde Plattform.
                        </h3>
                        <p
                            class="text-left pl-5 pt-2 pr-5 pb-5"
                            style="font-weight: 200"
                        >
                            Begleiten Sie uns bei diesem Bestreben, damit das
                            Spielen wieder Spaß macht. Erklimme die Ränge,
                            entdecke einen echten Gegner, und verfeinern Sie
                            Ihre Fähigkeiten.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <app-index-footer></app-index-footer>

    <!-- <div class="container">
      <div class="toggle-container" style="z-index: 10000;">
        <input type="checkbox" id="dark-mode-switch" name="theme" onclick="themeToggle()"44 />
        <label for="dark-mode-switch">Toggle</label>
      </div>
    </div> -->

    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
    ></script>
    <script src="./script/language.js"></script>
    <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
    <script src="./script/script.js"></script>
    <script src="./script/responsive.js"></script>
    <script src="./script/aos.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"
    ></script>
    <script src="./test.js"></script>
</div>
